{if $user->isLoggedIn()}
<p>
	{$user->getIdentity()->DisplayName} 
	<a n:href=":Auth:SkautisLogout">Odhlásit se</a>
	Role: 
	<select onchange="changeRole(this.value)" class="roleSelect">
		<option n:foreach="$myRoles as $r" value="{$r->ID}" {if $r->ID == $myRole}selected="selected"{/if}>{$r->DisplayName}</option>
	</select>
</p>
{else}
<p>
	<a n:href=":Auth:SkautisLogin (isset($backlink)) ? $backlink : NULL" class="button large primary">Přihlásit se pomocí SkautIS účtu</a>
</p>
{/if}