{block content}
<div class="grid">
	<div class="row">
		<div class="span8 text-center">
			<h2>Přihlášení pro veřejnost</h2
			{include '../components/signInForm.latte', form => signInForm}
			{include '../components/signUpForm.latte', form => signUpForm}
		</div>
		<div class="span8 text-center">
			<h2>Přihlášení pro členy Junáka</h2>
			{include '../components/signInSkautis.latte'}
		</div>
	</div>
</div>