{block content}

<a n:href="Contact:create">Nový kontakt</a>

{foreach $contacts as $contact}
<div class="contact">
	<a n:href="edit $contact->id"><h3>{$contact->city} {$contact->street} - {$contact->postal_code}</h3></a>

	<div>{$contact->gsm}</div>
	<div>{$contact->province}</div>
	<div>{$contact->group_num}</div>
	<div>{$contact->group_name}</div>
	<div>{$contact->troop_name}</div>
</div>
{/foreach}