{block content}

<a n:href="Category:create">Nová kategorie</a>

{foreach $categories as $category}
<div class="category">
	<a n:href="edit $category->id"><h3>{$category->shortcut} - {$category->name}</h3></a>

	<div>{$category->description}</div>
</div>
{/foreach}